<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
        <title>Poste seu Meme</title>
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <div class="header item">
                    <a href="/"><i class="icon twitch"></i> LoL Memes</a>
                </div>
                <div class="right menu">
                    <a href="/" class="item">Home</a>
                    <a href="/posts/new" class="item">Upload Meme</a>
                </div>
            </div>
        </div>